<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:20px; height:3cm">
      <b> Please login your account</b></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Login ID</ion-label>
    <ion-input style="height:2cm; font-size:30px"></ion-input>
  </ion-item>
  <hr />
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" style="height:2cm; font-size:30px"></ion-input>
  </ion-item>

  <ion-button style="height:1.5cm; width:10cm; font-size:20px"
    >Login</ion-button
  >
</ion-content>
