<div class="ion-text-center ion-margin ion-text-wrap">
  <ion-card expand="block">
    <ion-card-title style="font-size:60px">Welcome to my page</ion-card-title>

    <ion-card-content>
      <ion-button shape="round" size="large" routerLink="/login"
        >Login</ion-button
      >
      <ion-button
        shape="round"
        size="large"
        color="success"
        routerLink="/register"
        >Register</ion-button
      >
    </ion-card-content>
  </ion-card>
  Shortcut:

  <ion-button shape="round" size="large" routerLink="/places" color="secondary"
    >Places</ion-button
  >
</div>
